body {
    display: grid;
    grid-template-rows: 7.5% 4px 1fr;
    grid-template-columns: 20% 4px 1fr 4px 20%;
}

/* No text selection when drag and drop separators */
body.resizing {
  user-select: none;
}

#title {
    grid-column: 1 / -1;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-sep {
    grid-column: 1 / -1;
    background: black;
    cursor: row-resize;
}

#files {
    grid-column: 1;
    background: grey;
}

#files.drag-over {
  background: black;
}

#left-sep {
    grid-column: 2;
    background: black;
    cursor: col-resize;
}

#thumbnails {
    grid-column: 3;
    background: green;
}

#right-sep {
    grid-column: 4;
    background: black;
    cursor: col-resize;
}

#tools {
    grid-column: 5;
    background: orange;
}
